@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

*{
  box-sizing: border-box;
}

html {
  background-color:aqua;
}

h1 {
  text-align: center;
  font-weight: bold;
  margin: 0;
}

.subjects{
    margin-top: 2rem;
}

.companyLogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.links{
  color: yellow;
  font-size: 20px;
}

.products{
  display: block;
  width: 250px;
  height: 250px;
  padding: 1rem;
  margin-bottom: -.5rem;
  margin-left: auto;
  margin-right: auto;
}

#title {
  background-color:darkblue;
  text-align: center;
  font-weight: bold;
  padding: 2%;
  font-family: 'Oswald', sans-serif;
}

#title h1 {
  font-size: 5rem;
  color: white;
}

#title h5 {
  font-size: 2rem ;
  color: yellow;
}

input{
  padding: 5px;
  border: solid black 2px;
  font-weight: bold;
  font-size: 1rem;
  margin: .5rem;
}

.welcomeContainer {
    background-color:white;
    color:black;
    text-align: center;
    border: black solid 2px;
    border-radius: 2rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    width: 25rem;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}

#search {
  padding: 8px;
  margin-top: 10px;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  border: 1px solid black;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.card {
  justify-content: center;
  background-color:white;
  border: black solid 2px;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 1rem;
  padding: 1rem;
  width: 20.75rem;
  height: 28rem;
}

.card__title {
  font-size: 1.6rem;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  text-align: center;
  color: black;
}

.card__subtitle {
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: black
}

.card__text {
  line-height: 1.5;
}

button {
    background-color: darkblue;
    color: white;
    font-weight: bold;
    border: 1px solid #cccccc;
    border-radius: .75rem;
    padding: 0.5rem;
    margin: .5rem
}

.cartEditContainer{
  display: flex;
}

#edit{
  background-color: lightgray;
  border: 1px solid black;
  color: black;
  width: 4rem;
  font-size: 12px;
  text-align: center;
  margin-left: auto;
}

#remove{
  background-color: red;
  color: white;
  border: 1px solid black;
  width: 7rem;
}

#CancelOrder{
  background-color: red;
  color: white;
  border: 1px solid black;
  width: 8rem;
}

#CompleteOrder{
  background-color: green;
  color: white;
  border: 1px solid black;
  width: 8rem;
}

.checkoutButton{
  background-color: green;
  color: white;
  border: 1px solid black;
  border-radius: 0;
  font-weight: bold;
  width: 75%;
}

.continueButton{
  background-color: darkblue;
  color: white;
  border: 1px solid black;
  border-radius: 0;
  font-weight: bold;
  width: 75%;
}

#profileBox {
  display: flex;
  margin-top: 2.5rem;
  width: 75%;
  border: 3px solid black;
  margin-left: auto;
  margin-right: auto;
}

#infoColumn{
  display: block;
  background: rgb(232,245,77);
  background: radial-gradient(circle, rgba(232,245,77,1) 75%, rgba(6,19,250,1) 100%);
  font-family: 'Oswald', sans-serif;
  text-align: center;
  padding: 2rem;
}

#orderRow{
  display: block;
  background-color: white;
  font-family: 'Oswald', sans-serif;
  padding: 1rem;
  width: 100%;
}

.singleContainer {
  background-color:white;
  border: black solid 2px;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  margin: 1.5rem;
  padding: 1rem;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

#singleTextContainer{
  display: block;
  width: 100%;
}

#singleimg{
  display: block;
  width: 350px;
  height: 350px;
  margin-left: auto;
}

.single__subtitle {
  font-size: 2.5vh;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: black
}

#quantity{
  width: 4rem;
  font-size: medium;
}

#prodQuantity{
  width: 10rem;
  font-size: medium;
}

.cartPageContainer{
  display: flex;
  width: 95%;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1rem;
}

.totalContainer{
  border: solid black 2px;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  height:12rem;
  text-align: center;
}

.cartContainer{
  border: solid black 2px;
  background-color: white;
  margin-left: 1.5rem;
  margin-right: auto;
  width: 75%;
}

.cartTitles{
  justify-content: flex-end;
  display:flex;
  font-size: 25px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  gap: 25vh
}

.innerCartContainer{
  display: flex;
  margin-right: 2rem;
  margin-left: .5rem;
  margin-bottom: .75rem;
}

.cartImg{
  width: 100px;
  height: 100px;
  margin-left: 3rem;
}

.cartTextOnly{
  display: flex;
  width: 84%;
}

#singleCartText{
  width: 35%;
  display: block;
  justify-content: flex-end;
  font-size: 25px;
  text-align: end;
}

#total{
  font-size: 3vh;
  font-weight: bold;
}

#CheckoutContainer{
  display: flex;
  border: 5px black solid;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.CheckoutUserInfo{
  display: block;
  border: 5px solid red;
  background-color: white;
  margin-right: auto;
  padding: 4%;

}

.paymentBox{
  border: 5px solid green;
  background-color: white;
  margin-left: auto;
  padding: 4%;
}