@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

*{
  box-sizing: border-box;
}

html {
  background-color:aqua;
}

h1 {
  text-align: center;
  font-weight: bold;
  margin: 0;
}

.subjects{
    margin-top: 2rem;
}

.companyLogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.links{
  color: yellow;
  font-size: 20px;
}

.products{
  display: block;
  width: 250px;
  height: 250px;
  padding: 1rem;
  margin-bottom: -.5rem;
  margin-left: auto;
  margin-right: auto;
}

#title {
  background-color:darkblue;
  text-align: center;
  font-weight: bold;
  padding: 2%;
  font-family: 'Oswald', sans-serif;
}

#title h1 {
  font-size: 5rem;
  color: white;
}

#title h5 {
  font-size: 2rem ;
  color: yellow;
}

input{
  padding: 5px;
  border: solid black 2px;
  font-weight: bold;
  font-size: 1rem;
  margin: .5rem;
}

.welcomeContainer {
    background-color:white;
    color:black;
    text-align: center;
    border: black solid 2px;
    border-radius: 2rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    width: 25rem;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}

#searchContainer{
  margin-left: .25rem;
}

#search {
  padding: 8px;
  margin-top: 10px;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  border: 1px solid black;
  width: 21rem;
}

#Container-Search-Category{
  margin-top: .25rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 95%;
  justify-content: space-between;
}

#categoryContainer{
  margin-top: .5rem;
  margin-right: .25rem;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

#cardAdminButtonsContainer{
  display: flex;
}

.card {
  justify-content: center;
  background-color:white;
  border: black solid 2px;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 1rem;
  padding: 1rem;
  width: 20.75rem;
  height: 32rem;
}

.card__title {
  font-size: 1.6rem;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  text-align: center;
  color: black;
}

.card__subtitle {
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  overflow-wrap: break-word;
  color: black;
  display: block;
}

.card__text {
  line-height: 1.5;
}

button {
    background-color: darkblue;
    color: white;
    font-weight: bold;
    border: 1px solid #cccccc;
    border-radius: .75rem;
    padding: 0.5rem;
    margin: .5rem
}

.cartEditContainer{
  display: flex;
}

#edit{
  background-color: lightgray;
  border: 1px solid black;
  color: black;
  width: 4rem;
  font-size: 12px;
  text-align: center;
  margin-left: auto;
}

#remove{
  background-color: red;
  color: white;
  border: 1px solid black;
  width: 7rem;
}

#CancelOrder{
  background-color: red;
  color: white;
  border: 1px solid black;
  width: 8rem;
}

#CompleteOrder{
  background-color: green;
  color: white;
  border: 1px solid black;
  width: 14rem;
}

.checkoutButton{
  background-color: green;
  color: white;
  border: 1px solid black;
  border-radius: 0;
  font-weight: bold;
  width: 75%;
}

.continueButton{
  background-color: darkblue;
  color: white;
  border: 1px solid black;
  border-radius: 0;
  font-weight: bold;
  width: 75%;
}

#profileBox {
  display: flex;
  margin-top: 2.5rem;
  width: 75%;
  border: 3px solid black;
  margin-left: auto;
  margin-right: auto;
}

.singleContainer {
  background-color:white;
  border: black solid 2px;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  margin: 1.5rem;
  padding: 1rem;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

#singleTextContainer{
  display: block;
  width: 100%;
}

#singleimg{
  display: block;
  width: 350px;
  height: 350px;
  margin-left: auto;
}

.single__subtitle {
  font-size: 2.5vh;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: black
}

#quantity{
  width: 4rem;
  font-size: medium;
}

#prodQuantity{
  width: 10rem;
  font-size: medium;
}

.cartPageContainer{
  display: flex;
  width: 95%;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1rem;
}

.totalContainer{
  border: solid black 2px;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  height:12rem;
  text-align: center;
}

.cartContainer{
  border: solid black 2px;
  background-color: white;
  margin-left: 1.5rem;
  margin-right: auto;
  width: 75%;
}

.cartTitles{
  justify-content: flex-end;
  display:flex;
  font-size: 25px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  gap: 25vh
}

.innerCartContainer{
  display: flex;
  margin-right: 2rem;
  margin-left: .5rem;
  margin-bottom: .75rem;
}

.cartImg{
  width: 100px;
  height: 100px;
  margin-left: 3rem;
}

.cartTextOnly{
  display: flex;
  width: 84%;
}

#singleCartText{
  width: 35%;
  display: block;
  justify-content: flex-end;
  font-size: 25px;
  text-align: end;
}

#total{
  font-size: 3vh;
  font-weight: bold;
}

#CheckoutContainer{
  display: flex;
  border: 5px black solid;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#checkoutInfo{
  font-size: large;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration:underline;
}

#shipSubmit{
  text-align: center;
}

.CheckoutUserInfo{
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.paymentBox{
  padding: 4%;
  min-width: 30%;
  text-align: center;
}

#checkoutCartBox{
  padding-top: 1rem;
  padding-left: 1rem;
  width: 60%;
  background-color: white;
}

#singleCheckoutText{
  width: 35%;
  display: block;
  font-size: 25px;
  text-align:center;
}

.innerCheckoutCartContainer{
  display: flex;
}

.checkoutProdTextOnly{
  display: flex;
  width: 75%;
}

.checkoutProdImg{
  width: 100px;
  height: 100px;
  margin-left: 1rem;
  margin-right: 1rem;
}

#checkoutPrice{
  text-align: center;
}

.boxPayShip{
  border-left: 5px solid black;
  background-color: #e9e9e9;
  margin-left: auto;
  min-width: 40%;
}

#orderbox{
  border: 5px solid green;
}

#orderDateBox{
  border: 5px solid purple;
}

#orderImgInfoBox{
  border: 5px solid orange;
  display: flex;
  height: 10rem;
}

#orderImgBox{
  border: 5px solid blue;
  margin-top: auto;
  margin-bottom: auto;
}

#orderInfoBox{
  border: 5px solid red;
  font-size: 20px;
  margin-left: 1rem;
  font-weight: bold;
}

#orderTotalBox{
  border: yellow 5px solid;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

#ProductImg-Profile{
  width: 100px;
  height: 100px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

#infoColumn{
  display: block;
  background: rgb(232,245,77);
  background: radial-gradient(circle, rgba(232,245,77,1) 75%, rgba(6,19,250,1) 100%);
  font-family: 'Oswald', sans-serif;
  text-align: center;
  padding: 2rem;
}

#orderRow{
  display: block;
  background-color: white;
  font-family: 'Oswald', sans-serif;
  padding: 1rem;
  width: 100%;
}

.adminButton{
  background-color: yellow;
  border: 2px black solid;
  color: black;
  font-weight: bold;
  border-radius: .75rem;
  padding: 0.5rem;
  margin: .5rem
}

#adminAddProd{
  display: block;
  margin-top: .4rem;
  margin-right: .25rem;
}

#ComingSoonImg{
  border: 2px solid black;
  padding: 0;
  margin-right: 1rem;
}

.newSingleContainer{
  background-color:white;
  border: black solid 2px;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  margin: 1.5rem;
  padding: 1rem;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#newSingleTextContainer{
  font-size: large;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  width: 95%;
}

#newTextImgContainer{
  display: flex;
  margin-top: 1rem;
}

.newInput{
  width: 77%;
  text-transform:uppercase;
}

#center{
  margin-left: auto;
  margin-right: auto;
  margin-top: .5rem;
  width: 15%
}

#editContainer{
  display: flex;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.OldContainer{
  background-color:white;
  border: black solid 2px;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  margin: 1.5rem;
  padding: 1rem;
  width: 45%;
}

.NewContainer{
  background-color:white;
  border: black solid 2px;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  margin: 1.5rem;
  padding: 1rem;
  width: 45%;
}

.editInput{
  width: 95%;
  text-transform:uppercase;
}

.userCards{
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.userCard {
  justify-content: center;
  background-color:white;
  border: black solid 2px;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  margin: 3.5rem;
  padding: 1rem;
  width: 23rem;
  height: 18rem;
}

#adminButtonStatus{
  display: flex;
  justify-content: space-between;
}

#productOrderContainer{
  display: flex;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

#orderContainer{
  border: solid 2px black;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

#productContainer{
  border: solid 2px black;
  display: flex;
  padding: 1rem;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  background-color: white;
}

#productContainerText{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  font-weight: bold;
  width: 25%;
}